body {
    width: 100%;
    height: 100vh;
    background: #100338;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*circles solar system*/
.line1, .line2, .line3, .line4, .line5, .line6, .sunFire, .sunGlobe {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px dashed #FFFFFF4C;
    position: relative;
}

.line1 {
    width: 500px;
    height: 500px;
    animation: rotate 60s infinite linear;
}

.line2 {
    width: 430px;
    height: 430px;
}

.line3 {
    width: 350px;
    height: 350px;
}

.line4 {
    width: 290px;
    height: 290px;
}

.line5 {
    width: 240px;
    height: 240px;
}

.line6 {
    width: 190px;
    height: 190px;
}
/*circles solar system*/

/*sun*/
.sunFire {
    width: 130px;
    height: 130px;
    background-color: #FFB13C;
    border-radius: 100%;
    border: none;
    animation: sunshine 3s infinite alternate;
}

.sunGlobe {
    width: 105px;
    height: 105px;
    background-color: #FFA31A;
    border-radius: 100%;
    border: none;
}
/*sun*/

/*planets*/
.line1:before, .line2:before, .line2:after, .line3:before, .line4:before, .line4:after, .line5:before, .line5:after, .line6:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    animation: up-down .8s infinite alternate;
}

.line1:before {
    width: 52px;
    height: 52px;
    background-color: #2B89DF;
    top: 30px;
    right: 60px;
    animation-delay: 1s;
}

.line2:before {
    width: 55px;
    height: 55px;
    background-color: #AED8EA;
    top: 90px;
    left: -5px;
}

.line2:after {
    top: 70px;
    left: 5px;
    width: 30px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 0 0 #eaa590;
}

.line3:before {
    width: 65px;
    height: 65px;
    background-color: #FF9494;
    top: 100px;
    right: -30px;
    animation-delay: 1s;
}

.line4:before {
    width: 35px;
    height: 35px;
    background-color: #0DC9F2;
    bottom: -15px;
    left: 115px;
}

.line4:after {
    width: 35px;
    height: 35px;
    background-color: #6CDFF9;
    bottom: 80px;
    left: -10px;
    animation-delay: 1s;
}

.line5:before {
    width: 30px;
    height: 30px;
    background-color: #FF7043;
    bottom: 20px;
    right: 20px;
}

.line5:after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #FF5B5B;
    position: absolute;
    border-radius: 100%;
    top: -5px;
    left: 40px;
    animation-delay: 1s;
}

.line6:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #9DCFDA;
    position: absolute;
    border-radius: 100%;
    bottom: 15px;
    left: 15px;
}
/*planets*/

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(3px);
    }
}

@keyframes sunshine {
    0% {
        box-shadow: 0 0 50px 10px #ff9e27;
        transform: scale(1);
    }
    100% {
        box-shadow: 0 0 150px 50px #ff9e27;
        transform: scale(1.05);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}